<?xml version="1.0" encoding="utf-8"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <playSound>false</playSound>
  <onlyReduceScale>false</onlyReduceScale>
  <ignoreLastPower>true</ignoreLastPower>
  <subjectName>test1</subjectName>
  <lowerThreshold>0.153598279</lowerThreshold>
  <midThreshold>0.33238095</midThreshold>
  <upperThreshold>0.58099556</upperThreshold>
  <maxThreshold>1</maxThreshold>
  <minScale4FatFish>1</minScale4FatFish>
  <maxScale4FatFish>5</maxScale4FatFish>
  <reductionScale>0.01</reductionScale>
  <increaseScale>0.00101928355</increaseScale>
  <normalFishScale>3.5</normalFishScale>
  <noramlizingMax>6</noramlizingMax>
  <noramlizingMin>0</noramlizingMin>
  <samples4Normalizing>10</samples4Normalizing>
  <dynamicMax4Normalizing>false</dynamicMax4Normalizing>
  <dynamicMin4Normalizing>false</dynamicMin4Normalizing>
  <calibTimer>5000</calibTimer>
  <meanEyesOpen>0.499778837</meanEyesOpen>
  <meanSqrtEyesOpen>0.49978587</meanSqrtEyesOpen>
  <deviationEyesOpen>0.00268013054</deviationEyesOpen>
  <varianceEyesOpen>7.1831E-06</varianceEyesOpen>
  <maxEyesOpen>0.5034606</maxEyesOpen>
  <minEyesOpen>0.4959871</minEyesOpen>
  <rangeEyesOpen>0.00747349858</rangeEyesOpen>
  <kurtosisEyesOpen>-1.52938879</kurtosisEyesOpen>
  <skewnessEyesOpen>-0.0207469109</skewnessEyesOpen>
  <meanEyesClosed>0.499807447</meanEyesClosed>
  <meanSqrtEyesClosed>0.499814481</meanSqrtEyesClosed>
  <deviationEyesClosed>0.002680312</deviationEyesClosed>
  <varianceEyesClosed>7.18407227E-06</varianceEyesClosed>
  <maxEyesClosed>0.503472447</maxEyesClosed>
  <minEyesClosed>0.495968461</minEyesClosed>
  <rangeEyesClosed>0.00750398636</rangeEyesClosed>
  <kurtosisEyesClosed>-1.52750719</kurtosisEyesClosed>
  <skewnessEyesClosed>-0.03565096</skewnessEyesClosed>
</Root>